body {
  background-color: #c8fcf8;
  font-size: auto;
}
h1 {
  text-align: center;
}
.note {
  width: 100%;
  margin-top: 15px;
  color: #303030;
  font-size: 14px;
}
.last-update {
  margin: 10px 0;
}
.center li {
  list-style: none;
}
.center ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.last-update ul {
  display: inline-block;
}
.tz-button {
  position: fixed;
  right: 20px;
  top: 20px;
}
.sysop-list {
  max-width: 100%;
}
.sysop-list-table {
  color: #0a4283;
  margin-left: auto;
  margin-right: auto;
}
table {
  border-collapse: collapse;
  background-color: white;
}
tr:nth-child(odd) {
  background-color: #e6e3a1;
}
th,
td {
  padding: 5px 10px;
}
.sysop-list-table th {
  white-space: nowrap;
}
.sysop-list .index {
  text-align: right;
  padding-right: 0.5em;
}
.username {
  white-space: nowrap;
}
.sysop-list-table td > a {
  float: right;
}
.sysop-list-table td > span.timestamp {
  margin: auto 0.2em;
}
.sysop-list-table td > span.ok-mark {
  font-weight: bold;
  color: green;
}
.sysop-list-table td > span.ng-mark {
  font-weight: bolder;
  color: red;
}

.switch {
  width: 200px;
  margin: 10px auto 15px;
}
.cmn-toggle {
  display: none;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-yes-no + label {
  margin: auto auto;
  padding: 2px;
  width: 180px;
  height: 40px;
}
input.cmn-toggle-yes-no + label:before,
input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #42d171;
  content: attr(data-off);
  transition: transform 0.3s;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #42d171;
  content: attr(data-on);
  transition: transform 0.3s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  transform: rotateY(0);
}
